html, 
body {
    padding: 0;
    font-size: 1rem;
    font-family: Source Sans Pro;
}

body,ul,footer,#main-article,#article-link {
    margin: 0;
}
ul li,.section-one,.article-info,#nav-icon {
    margin: auto;
}
        

*{ box-sizing: border-box;}

.me-img {
    animation: rotate .65s
  }
  
@keyframes rotate {
    from {
      border: #cad7ff 30px solid;
      transform: rotate(0);
    }
  
    to {
     transform: rotate(360deg);
    }}

.mini-page-container:hover,li:hover { transform: scale(1.15) rotate(10deg); }
#mini-main-article:hover,#view-more-btn:hover { transform: scale(1.05);}

ul li {
   list-style: none;
}

li a {
    color: #090909;
    font-size: .75rem;
    font-weight: 600;
    text-decoration: none;
}

#nav-journal-lnk {
    color: #0E0E0E;
    /* font-family: Roboto; */
    font-size: 0.84rem;
    font-weight: 700;
}

ul {
    display: grid;
    grid-template-columns: 1.5rem auto 2fr minmax(1rem,1fr) minmax(1rem,6.5rem) 1.5rem;
    grid-template-areas: ". img journal home about .";
    height: 3.68rem;
    grid-gap: .3rem;
}

#nav-journal{
    margin-left: 0;
    grid-area: journal;    
}

#nav-home{
    margin-right: 0;
    grid-area: home;
}

#nav-about-me{
    margin-right: 1.5rem;
    grid-area: about;
}

#nav-icon {
    grid-area: img;
    width: 1.5rem;
    height: 1.5rem;        
}

header{
    background: #ffffff;
    border: #090909 1.5px solid;
    border-top: none;
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius: .625rem;
}

#view-more-btn,.mini-page-container,#mini-main-article,.puppy-img {
    border: black solid .5px;
    border-radius: .375rem;
    box-shadow: .6rem .6rem .3rem #cad7ff;
}

.thumbnail-img,#featured-img {
    border-radius: .375rem;
}

#mini-main-article  {
    background-image:
    linear-gradient(to bottom, rgba(255, 0, 0, 0), #00000095),
     url("/images/article-journal-image.jpg");
    background-size: 100%;
    padding: 0 1.25rem;
    color: #ffffff;
    height: 20rem;
    text-shadow: 1.5px 1.5px black;
    display: flex;
    flex-direction: column;
}

#mini-main-h3 {
    margin-top: auto;
    margin-bottom: 0;
    font-size: .75rem;
}

#mini-main-h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 108.2%; /* 34.624px */
    letter-spacing: -0.96px;
    margin: 0.5rem 0 0 ;
}

#mini-main-p {
    margin-top: 0;
    margin-bottom: 1.5625rem;
}

.thumbnail-img {
    width: 100%;    
    height: 60%;
    align-self: center;
    border: 1px solid black;
}
.section-one{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr)) ;
    justify-items: center;
    align-items: center;
    grid-gap: .625rem;
    padding: 2.12rem 1rem 0 1rem;
}

.article-info {
    height: 9.375rem;
    overflow:hidden;
}

.mini-page-container{
    padding: .625rem;
    min-width: 21.875rem;
    max-width: 23.75rem;
    height: 450px;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
}

.mini-page-container h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.mini-page-container h1{
    margin: .6rem auto .25rem 0;    
}

.mini-page-container p {
    margin-top: 0;
    margin-bottom: 24px;
}

#view-more {
    text-align: center;
}

#view-more-btn {
    width: 89%;
    margin: 1.6875rem auto 2.6875rem auto;
    padding: .625rem 0;
    background: #ffffff;
}

.btm-buffer {
    height: 2rem;
}

#main-article,#article-link {
    padding: 1.25rem;
}

#article-link {
    text-align: center;
    padding: .75rem 0 0 0;
}

#featured-img{
    width: 100%;
    margin: .625rem auto;
}

.v2 #mini-main-h3 {
    margin-top: 4.44rem;
}
.v2 #mini-main-h1 {
    margin: .7rem 0 .45rem 0;
}

.v2 #mini-main-p {
    margin-bottom: 1.565rem;
}

.v2 {
    display: flex;
    flex-direction: column;
}

.me-img{
    border-radius: 50%;
    width: 12rem;
    margin: 2rem auto;
    border: #090909 2px solid;
    box-shadow: .6rem .6rem .3rem #cad7ff;
}

.about-me-container {
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.puppy-img {
    width: 100%;
}

footer {
    background: #202020;
    height: 6.56rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-top{
    margin-bottom: 0;
    margin-top: auto;
    color: #ECECEC;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 108.2%; /* 12.984px */
    letter-spacing: -0.36px;
}

#footer-bot{
    margin-top: 0;
    margin-bottom: auto;
    color: #D7D7D7;
    text-align: center;
    font-size: 12px;
    line-height: 125%; /* 15px */
}   

#article-4,#article-5,#article-6 {display: none;}

@media (min-width: 550px){
    #mini-main-h3 {
        font-size: 1rem;
    }

    #mini-main-h1 {
        font-size: 2.5rem;
    }

    #mini-main-article #mini-main-p {
        margin-top: 0;
        margin-bottom: 3.70rem;
        max-width: 38rem;
    }

    .section-one{
        padding-top: 3.31rem;
    }
    #article-4,#article-5,#article-6 {display: block;}
    
    #mini-main-article {
        padding-left: 3.31rem;
        height: 30.5rem;
    }

    #main-article,.about-me-container  {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .about-me-inside,#main-article h3,#main-article h1,#main-article p {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .v2 p,.v2 h1,.v2 h3 {
       margin: .75rem 0;
    }
    #feature-img{
        margin-top: 2.25rem
    }

    .puppy-img{
        margin: 0 auto;
        width: 65%;
    }
    .me-img {
        
        width: 15rem;
    }
} 